// Varibles
$website-width: 1280px;
$main-color: #F7B52B;
$light-color: #c0bdbd;
$medium-color: #ccc;
$dark-color: #333;
$bg-imagine: url("../img/Optimized-P9300047.jpg");
$bg-imagine-mobile: url("../img/P9300047-mobile.jpg");

// Set text color
@function set-text-color($color) {
  @if (lightness($color) >50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
